!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Reel2Virtual
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.0.1/kinetic.min.js')
  body
    #container
    #bottom
      p#timer
        | 00:00
      .clickcontainer
        //a(href='#prev', onclick='prev();').click#prev
        //a(href='#next', onclick='next();').click#next
        a(href='#prev').click#prev
        a(href='#next').click#next
        a(href='#play', onclick='play(audio);').click#play
        a(href='#pause', onclick='stop(audio);').click#pause
      a.knob(onclick='nextEQ(currentEQ);')
        img#kn(class='IEC1_7', src='knob.png', alt='Speed selector knob')
      .trackSelector
        p
          | TRACK SELECTOR:
        select#selector(onchange="switchSong(value);")
          option(disabled)
            | Select a track...
      p.footer
        | 2014 | Università degli Studi di Padova
    script(type='text/javascript', src='interface.js')
    script(type='text/javascript', src='eqcontrol.js')