!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Lowpass Filter Example
    // script(type='text/javascript', src='kievII.js')
    link(rel='stylesheet', href='style.css')
    script(type='text/javascript', src='interface.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.0.1/kinetic.min.js')
    script(type='text/javascript', src='draw.js')
  body
    #container
    #bottom
      p#timer
        | 0:00:00
      .clickcontainer
        a(href='#prev', onclick='prev();').click#prev
        a(href='#next', onclick='next();').click#next
        a(href='#play', onclick='play(audio);').click#play
        a(href='#pause', onclick='stop(audio);').click#pause
      a.knob
        img(src='knob.png')
      .trackSelector
        p
          | TRACK SELECTOR:
        select#selector(onchange="switchSong(value);")
      p.footer
        //| 2014 | Università degli Studi di Padova
    canvas#myCanvas
    p
      | TRACK SELECTOR:
    p#here
      | Try it:
      button(onclick='playpause(audio);')
        | Play/pause
    p
      | FilterNode on:
      input(type='checkbox', checked='false', onclick='FilterSample.toggleFilter(this);')
      | Frequency:
      input(type='range', min='0', max='1', step='0.01', value='1', oninput='FilterSample.changeFrequency(this);')
      | Resonance:
      input(type='range', min='0', max='1', step='0.01', value='0', oninput='FilterSample.changeQuality(this);')
    p
      | ConvolutionNode on:
      input(type='checkbox', checked='false', onclick='Conv.toggleFilter(this);')
  script(type='text/javascript', src='filter.js')